.*.swp
/state.json
/state.cache.json
/facts.yaml
/netstat.out
/generated_values.json
/etc/agent.conf.d/90-local.conf
/etc/conf.d/90-local.conf
/work
.vscode/
.vscode
.idea/
/agent-go
/agentgo*
/glouton*
/dist*
/packaging/windows/installer/.vs
/packaging/windows/installer/bin
/packaging/windows/installer/obj
/packaging/windows/installer/assets/glouton.exe
/packaging/windows/chocolatey/*.nupkg
api/static/assets/
*-bindata.go
.build-cache
coverage.html
coverage.out
__debug_bin
/stderr.log
/crashreport_*.zip
/crash_diagnostic.tar
vendor/
/webui/dist/
/webui/node_modules/
/webui/npm-debug.log
