*.pyc
__pycache__
*.egg-info
.*.swp
/.tox
/.cache
/state.json
/facts.yaml
/netstat.out
/generated_values.json
/etc/agent.conf.d/90-local.conf
/work
Pipfile
Pipfile.lock
build/lib.linux-x86_64-2.7/
build/scripts-2.7/
