{% extends "layout.html" %}

{% block content %}
<div class="row padding-top-1">
    <div class="col-xs-8 col-sm-8 col-md-8">
        <div class="inline-headers">
            <h1>{{ core.last_facts['fqdn'] }}</h1>
            &nbsp;
            <span class="h2"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-3 col-sm-offset-2 col-sm-2 col-md-offset-3 col-md-1">
        <img src="/static/logo.png"/>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-6">
        <p>
        {{ core.last_facts['primary_address'] }}<br/>
        {{ core.last_facts['os_pretty_name'] }}<br/>
        {% if core.last_facts['product_name'] %}
        {{ core.last_facts['product_name'] }}<br/>
        {% endif %}
        Uptime: {{ core.last_facts['uptime'] }}<br/>
        Load: {{ loads }}<br/>
        Registration: 1st January 1970 {# TODO #}<br/>
        Last Report: 6th July 2015 {# TODO #}<br/>
        <br/>
        Tags: AWS, eu-west-1, web, ubuntu {# TODO #}<br/>
        </p>
    </div>
    <div class="col-xs-offset-1 col-xs-4">
        <div class="well text-center">
            <span class="glyphicon-very-large text-success">
                <span class="glyphicon glyphicon-ok"></span>
            </span>
            <div>84 checks are OK {# TODO #}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        disk space and co
    </div>
    <div class="col-xs-7">
        <pre class="top-output">{{ core.get_top_output() }}</pre>
    </div>
</div>
{% endblock %}
