{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-6">
        <p>
        {{ core.last_facts['primary_address'] }}<br/>
        {{ core.last_facts['os_pretty_name'] }}<br/>
        {% if core.last_facts['product_name'] %}
        {{ core.last_facts['product_name'] }}<br/>
        {% endif %}
        Uptime: {{ uptime }}<br/>
        Load: {{ loads }}<br/>
        <!-- Registration: 1st January 1970 {# TODO #}<br/> -->
        Last Report: {{ core.last_report.strftime('%c') }}<br/>
        <br/>
        {% if core.config.get('tags') %}
        Tags: {{ ', '.join(core.config.get('tags', [])) }}<br/>
        {% endif %}
        </p>
    </div>
    <div class="col-xs-offset-1 col-xs-4">
      <a href="{{ url_for('check') }}">
        <div class="well text-center">
            <span class="icon-very-large">
                {% if check_info['count_critical'] %}
                <span class="text-danger">
                    <i class="fa fa-remove"></i>
                </span>
                {% elif check_info['count_warning'] %}
                <span class="text-warning">
                    <i class="fa fa-warning"></i>
                </span>
                {% else %}
                <span class="text-success">
                    <i class="fa fa-check"></i>
                </span>
                {% endif %}
            </span>
            <div>{{ check_info['count_ok'] }} checks are OK</div>
            {% if check_info['count_warning'] %}
            <div>{{ check_info['count_warning'] }} checks are WARNING</div>
            {% endif %}
            {% if check_info['count_critical'] %}
            <div>{{ check_info['count_critical'] }} checks are CRITICAL</div>
            {% endif %}
        </div>
      </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
    {% for disk_metric in disks_used_perc|sort(attribute='item') %}
    {% with %}
        {% set disk_free = core.get_last_metric_value('disk_free', disk_metric['item'], 0) %}
        {% set disk_used = core.get_last_metric_value('disk_used', disk_metric['item'], 0) %}
        {% set disk_total_user = disk_used + disk_free %}
        {% set disk_threshold = core.get_threshold(disk_metric['measurement'], disk_metric.get('item')) or {} %}
        <div>
            <div class="panel-heading" role="tab" id="disk-heading-{{ loop.index }}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#disk-collapse-{{ loop.index }}" aria-expanded="false" aria-controls="disk-collapse-{{ loop.index }}">
                        <i class="fa fa-chevron-right"></i>
                        {{ disk_metric['item'] }} disk space
                    </a>
                </h4>
            </div>
            <div id="disk-collapse-{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="disk-heading-{{ loop.index }}">
                <div class="panel-body add-left-margin">
                    Value: {{ disk_used|filesizeformat(True) }}<br/>
                    {% if 'status' in disk_metric %}
                    Status: {{ disk_metric['status']|capitalize }} <br/>
                    {% endif %}
                    {% if disk_threshold.get('high_warning') %}
                    Warning: {{ (disk_total_user * disk_threshold['high_warning'] / 100)|filesizeformat(True) }} <br/>
                    {% endif %}
                    {% if disk_threshold.get('high_critical') %}
                    Critical: {{ (disk_total_user * disk_threshold['high_critical'] / 100)|filesizeformat(True) }} <br/>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endwith %}
    {% endfor %}
    {% with %}
        {% set mem_metric = core.get_last_metric('mem_used_perc', None) %}
        {% if mem_metric is not none %}
        {% set mem_total = core.get_last_metric_value('mem_total', None, 0) %}
        {% set mem_used = mem_metric['value'] / 100 * mem_total %}
        {% set mem_threshold = core.get_threshold(mem_metric['measurement'], mem_metric.get('item')) or {} %}
        <div>
            <div class="panel-heading" role="tab" id="mem-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#mem-collapse" aria-expanded="false" aria-controls="mem-collapse">
                        <i class="fa fa-chevron-right"></i>
                        Memory usage
                    </a>
                </h4>
            </div>
            <div id="mem-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mem-heading">
                <div class="panel-body add-left-margin">
                    Value: {{ mem_used|filesizeformat(True) }}<br/>
                    {% if 'status' in mem_metric %}
                    Status: {{ mem_metric['status']|capitalize }} <br/>
                    {% endif %}
                    {% if mem_threshold.get('high_warning') %}
                    Warning: {{ (mem_total * mem_threshold['high_warning'] / 100)|filesizeformat(True) }} <br/>
                    {% endif %}
                    {% if mem_threshold.get('high_critical') %}
                    Critical: {{ (mem_total * mem_threshold['high_critical'] / 100)|filesizeformat(True) }} <br/>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endwith %}
    {% for net_metric in nets_bits_recv|sort(attribute='item') %}
    {% with %}
        {% set sent_bytes = core.get_last_metric_value('net_bits_sent', net_metric['item'], 0) %}
        {% set recv_bytes = net_metric['value'] %}
        <div>
            <div class="panel-heading" role="tab" id="net-heading-{{ loop.index }}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#net-collapse-{{ loop.index }}" aria-expanded="false" aria-controls="net-collapse-{{ loop.index }}">
                        <i class="fa fa-chevron-right"></i>
                        {{ net_metric['item'] }} traffic
                    </a>
                </h4>
            </div>
            <div id="net-collapse-{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="net-heading-{{ loop.index }}">
                <div class="panel-body add-left-margin">
                    Received bits: {{ recv_bytes|netsizeformat }}<br/>
                    Sent bits: {{ sent_bytes|netsizeformat }}<br/>
                </div>
            </div>
        </div>
    {% endwith %}
    {% endfor %}
    {% with %}
        {% set cpu_metric = core.get_last_metric('cpu_used', None) %}
        {% if cpu_metric is not none %}
        {% set cpu_user = core.get_last_metric_value('cpu_user', None, 0) %}
        {% set cpu_system = core.get_last_metric_value('cpu_system', None, 0) %}
        {% set cpu_used = cpu_metric['value'] %}
        {% set cpu_other = core.get_last_metric_value('cpu_other', None, 0) %}
        {% set cpu_threshold = core.get_threshold(cpu_metric['measurement'], cpu_metric.get('item')) or {} %}
        <div>
            <div class="panel-heading" role="tab" id="cpu-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#cpu-collapse" aria-expanded="false" aria-controls="cpu-collapse">
                        <i class="fa fa-chevron-right"></i>
                        CPU usage
                    </a>
                </h4>
            </div>
            <div id="cpu-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cpu-heading">
                <div class="panel-body add-left-margin">
                    Used CPU : {{ cpu_used|round(1) }} % <br/>
                    <ul>
                        <li>by applications : {{ cpu_user|round(1) }} %</li>
                        <li>by system : {{ cpu_system|round(1) }} %</li>
                        <li>by other tasks : {{ cpu_other|round(1) }} %</li>
                    </ul>
                    {% if 'status' in cpu_metric %}
                    Status: {{ cpu_metric['status']|capitalize }} <br/>
                    {% endif %}
                    {% if cpu_threshold.get('high_warning') %}
                    Warning : {{ cpu_threshold['high_warning'] }} %<br/>
                    {% endif %}
                    {% if cpu_threshold.get('high_critical') %}
                    Critical : {{ cpu_threshold['high_critical'] }} %<br/>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endwith %}
    </div>
    <div class="col-xs-7">
        <pre class="top-output">{{ top_output }}</pre>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
// change the font-awesome icon when entry is shown/hidden.
$('.collapse').on('show.bs.collapse', function(){
    $(this).parent().find(".fa-chevron-right").removeClass("fa-chevron-right").addClass("fa-chevron-down");
}).on('hide.bs.collapse', function(){
    $(this).parent().find(".fa-chevron-down").removeClass("fa-chevron-down").addClass("fa-chevron-right");
});

// Refresh the page every 10 seconds.
function refresh() {
    /*
       We use location.assign (and not location.reload or
       HTTP header meta http-equiv="refresh"), because only location.assign
       play well with caching.
       Other method will do a request on servers for... every resource (css,
       img, js,...).

       location.reload(false) or http-equiv="refresh" act like
       pressing F5, and location.relaoad(true) act like pressing Ctrl-F5 (at
       least with Firefox).
     */
    window.location.assign(window.location);
}
setTimeout(refresh, 10000);
</script>
{% endblock %}
