[Unit]
Description=Glouton
Documentation=https://bleemeo.com
After=network.target

[Service]
ExecStart=/usr/sbin/glouton
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=glouton

[Install]
WantedBy=multi-user.target
