[Unit]
Description=Glouton
Documentation=https://bleemeo.com
After=network.target

[Service]
ExecStartPre=!-/usr/sbin/glouton-netstat
ExecStart=/usr/sbin/glouton
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=15s
Restart=always
User=glouton
LimitMEMLOCK=8M:8M

[Install]
WantedBy=multi-user.target
