Source: bleemeo-agent
Section: misc
Priority: extra
Maintainer: Bleemeo Packaging Team <packaging-team@bleemeo.com>
Build-Depends: debhelper (>=9),
               dh-exec,
               dh-python,
               debhelper (>= 9.20160709) | dh-systemd,
               python3-setuptools (>=30.3.0),
               python3-all
Standards-Version: 3.9.5
Homepage: https://bleemeo.com
X-Python3-Version: >= 3.4

Package: bleemeo-agent
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
    adduser,
    bleemeo-agent-telegraf | bleemeo-agent-single,
    python3-paho-mqtt,
    python3-pkg-resources,
    python3-psutil (>= 2.0.0~),
    net-tools,
Recommends:
    ca-certificates,
    python3-docker,
    python3-kubernetes,
    python3-flask,
    python3-raven,
    sudo,
Suggests:
    python3-influxdb (>= 2.6.0~),
Description: Bleemeo agent
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform

Package: bleemeo-agent-telegraf
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
    telegraf,
Conflicts: bleemeo-agent-collectd, bleemeo-agent-single
Breaks: bleemeo-agent (<<0.20160301.140200)
Replaces: bleemeo-agent (<<0.20160301.140200)
Description: Bleemeo agent with Telegraf
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform using Telegraf.

Package: bleemeo-agent-single
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
Conflicts: bleemeo-agent-collectd, bleemeo-agent-telegraf
Description: Bleemeo agent with manually installed collector
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform with no dependency on daemon.
 This package is appropriate for Docker images.

Package: bleemeo-agent-jmx
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
    bleemeo-agent,
    jmxtrans,
# Use pre-depends to force installation and configuration of
# JRE before jmxtrans
Pre-Depends: default-jre-headless | java6-runtime-headless
Description: Bleemeo agent plugin for JMX
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform.
 This package contains part needed to monitor JMX
 metrics.
