Source: bleemeo-agent
Section: misc
Priority: extra
Maintainer: Bleemeo Packaging Team <packaging-team@bleemeo.com>
Build-Depends: debhelper (>=9),
               dh-exec,
               dh-python,
               dh-systemd,
               python3-setuptools,
               python3-all
Standards-Version: 3.9.5
Homepage: https://bleemeo.com
X-Python3-Version: >= 3.4

Package: bleemeo-agent
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
    adduser,
    bleemeo-agent-collectd | bleemeo-agent-telegraf | bleemeo-agent-single,
    python3-paho-mqtt,
    python3-psutil (>= 2.0.0~),
Recommends:
    ca-certificates,
    python3-apt,
    python3-docker,
    python3-influxdb (>= 2.6.0~),
    python3-raven,
    sudo,
Description: Bleemeo agent
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform

Package: bleemeo-agent-collectd
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
    collectd,
Conflicts: bleemeo-agent-telegraf, bleemeo-agent-single
Description: Bleemeo agent with collectd
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform using Collectd.

Package: bleemeo-agent-telegraf
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
    telegraf,
Conflicts: bleemeo-agent-collectd, bleemeo-agent-single
Description: Bleemeo agent with collectd
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform using Telegraf.

Package: bleemeo-agent-single
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends},
Conflicts: bleemeo-agent-collectd, bleemeo-agent-telegraf
Description: Bleemeo agent with collectd
 Bleemeo is a solution of Monitoring as a Service.
 This package contains the agent which send metric to
 the SaaS platform with no dependency on daemon.
 This package is appropriate for Docker images.
