{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "plugins": [
        "lodash",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "lodash"
      ]
    }
  }
}