{
  "parser": "@typescript-eslint/parser",
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended",
  ],
  "overrides": [
      {
          "files": ["*.ts", "*.tsx"],
          "extends": [
              "plugin:@typescript-eslint/recommended"
          ],
          "rules": {
              "react/prop-types": "off"
          }
        }
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },
  "rules": {
      "@typescript-eslint/no-use-before-define": ["error", { "functions": true, "classes": true }]
  },
  "globals": {
      "__DEV__"    : false,
      "process": true,
      "__DEBUG__"  : false
  }
}
