<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- User credentials input dialog generated with WixEdit -->
        <UI Id="CredentialsUI">
            <Dialog Id="CredentialsDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter your credentials to communicate with Bleemeo" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure your agent" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="AccountDis" Type="Text" X="20" Y="60" Width="100" Height="18" NoPrefix="yes" Text="Enter your account ID" />
                <Control Id="AccountVar" Type="Edit" X="22" Y="79" Width="320" Height="15" Property="ACCOUNT" Indirect="no" />
                <Control Id="PasswordDis" Type="Text" X="20" Y="109" Width="100" Height="18" NoPrefix="yes" Text="Enter your registration key" />
                <Control Id="PasswordVar" Type="Edit" X="22" Y="131" Width="320" Height="15" Property="REGKEY" Indirect="no" />
                <Control Type="Text" Id="BottomText" Width="314" Height="26" X="22" Y="188" Text="If you want to install Glouton without using the Bleemeo cloud monitoring solution, you can skip this dialog by keeping the fields blank and clicking Next." />
            </Dialog>
        </UI>
    </Fragment>
</Wix>