<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" >
	<Package Name="Glouton" Language="1033" Version="1.2.3.4" Manufacturer="Bleemeo" UpgradeCode="9A2085DA-6D2E-4D89-938C-625F94EEE312" Compressed="yes" Scope="perMachine">
		<MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<!-- Embed the executable and config files in the installer -->
		<Media Id="1" Cabinet="glouton.cab" EmbedCab="yes" CompressionLevel="mszip" />

		<!-- Include app icon in shortcuts and uninstall menu -->
		<Icon Id="Icon.ico" SourceFile="$(var.AssetsPath)bleemeo.ico" />
		<Property Id="ARPPRODUCTICON" Value="Icon.ico" />
		<Property Id="ARPHELPLINK" Value="https://docs.bleemeo.com/" />

		<!-- Customize dialog and banner with the Bleemeo logo -->
		<WixVariable Id="WixUIBannerBmp" Value="$(var.AssetsPath)banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.AssetsPath)dialog.bmp" />

		<!-- Properties for user credentials that can be set on command line -->
		<Property Id="ACCOUNT" Secure="yes" />
		<Property Id="REGKEY" Secure="yes" />

		<!-- Enable auto-upgrade by default -->
		<Property Id="ENABLEAUTOUPDATE" Value="1" />

		<!-- Let the user choose a directory where Glouton will be installed -->
		<ui:WixUI Id="WixUI_Custom_InstallDir" InstallDirectory="INSTALLFOLDER" />

		<!-- Retrieve the install folder used during the installation from the registry -->
		<Property Id="INSTALLFOLDER">
			<RegistrySearch Id="SearchRegInstallDir" Type="raw" Root="HKLM" Key="Software\Bleemeo\Glouton" Name="InstallDir" />
		</Property>
		

		<!-- Directory layout -->
		<ComponentGroup Id="Files">
			<Component Id="GloutonExecutable" Directory="INSTALLFOLDER" Guid="F70F7265-938F-4E81-958E-B96B90997B6B">
				<File Id="___var.AssetsPath_glouton.exe" Source="$(var.AssetsPath)glouton.exe" KeyPath="yes" />

				<!-- Keep the chosen install folder in the registry to use it on the next upgrade -->
				<RegistryValue Root="HKLM" Key="Software\Bleemeo\Glouton" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" />

				<!-- Create the Glouton service -->
				<ServiceInstall Id="InstallGloutonService" Name="glouton" DisplayName="Glouton monitoring agent" Description="Bleemeo monitoring agent for servers, containers, and applications" Vital="yes" Account="NT AUTHORITY\LocalService" Interactive="no" ErrorControl="normal" Start="auto" Type="ownProcess">

					<util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" RestartServiceDelayInSeconds="60" />
					
						<!-- windows_exporter depends on Windows Management Instrumentation Service Provider -->
					<ServiceDependency Id="wmiApSrv" />
				</ServiceInstall>
				
				<ServiceControl Id="ServiceStateControl" Name="glouton" Remove="uninstall" Start="install" Stop="both" />
			</Component>

			<Component Id="WindowsUpdateChecker" Directory="INSTALLFOLDER" Guid="C995B88F-3D0F-4363-A83A-5BC7CB5CB82D">
				<File Id="___var.AssetsPath_windows_update_checker.ps1" Source="$(var.AssetsPath)windows_update_checker.ps1" KeyPath="yes" />
			</Component>

			<Component Id="PostInstallScript" Directory="INSTALLFOLDER" Guid="9DBECD11-6909-45FA-914B-D04BF9C855C2">
				<File Id="___var.AssetsPath_post_install.ps1" Source="$(var.AssetsPath)post_install.ps1" KeyPath="yes" />
			</Component>

			<Component Id="PreInstallScript" Directory="INSTALLFOLDER" Guid="96665693-905F-4F25-94DF-06830B02DAAE">
				<File Id="___var.AssetsPath_pre_uninstall.ps1" Source="$(var.AssetsPath)pre_uninstall.ps1" KeyPath="yes" />
			</Component>

			<Component Id="GloutonAutoUpdateScript" Directory="INSTALLFOLDER" Guid="DFA10ED1-033D-43F6-9AAA-C0E9C4C4F003">
				<File Id="___var.AssetsPath_glouton_auto_update.ps1" Source="$(var.AssetsPath)glouton_auto_update.ps1" KeyPath="yes" />
			</Component>

			<Component Id="SystemConfig" Directory="ConfigFolder" Guid="741C2E8E-C3D3-4105-A40A-FF144FC41540">
				<File Id="_05_system.conf" Source="$(var.AssetsPath)glouton.conf" Name="05-system.conf" />
			</Component>

			<Component Id="SetCredentials" Directory="ConfigFolder" Permanent="yes" Guid="748B2FFD-5461-4F7E-A93B-6903FE029CEB" Condition="NOT WIX_UPGRADE_DETECTED">
				<!-- Update credentials.xml with the user input during installation -->
				<!-- Skip this component on upgrades because we don't ask users for their credentials -->

				<File Id="CredentialsFile" Source="$(var.AssetsPath)credentials.xml" KeyPath="yes" />
				
				<util:XmlFile Id="XmlAccountID" File="[#CredentialsFile]" Action="setValue" Name="account_id" Value="[ACCOUNT]" ElementPath="//credentials" Sequence="1" />

				<util:XmlFile Id="XmlRegistrationKey" File="[#CredentialsFile]" Action="setValue" Name="registration_key" Value="[REGKEY]" ElementPath="//credentials" Sequence="2" />
			</Component>

			<Component Id="CreateLogsFolder" Directory="LogsFolder" Guid="095B9638-D1B6-46EF-B73B-0E7D0951A261">
				<CreateFolder />
			</Component>
		</ComponentGroup>

		<!-- Auto update script -->
		<SetProperty Id="EnableAutoUpdate" Value="&quot;powershell.exe&quot; -ExecutionPolicy Bypass -NonInteractive -File &quot;[INSTALLFOLDER]glouton_auto_update.ps1&quot;" Sequence="execute" Before="EnableAutoUpdate" />
		<CustomAction Id="EnableAutoUpdate" Return="ignore" Impersonate="no" Execute="deferred" DllEntry="WixQuietExec" BinaryRef="Wix4UtilCA_X86" />

		<!-- Add checkbox to open the local web dashboard after the installation -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open Glouton local web dashboard" />
		<CustomAction Id="OpenDashboard" Directory="TARGETDIR" Execute="immediate" Impersonate="yes" Return="asyncNoWait" ExeCommand="explorer.exe http://localhost:8015" />

		<!-- Post install script -->
		<SetProperty Id="PostInstall" Value="&quot;powershell.exe&quot; -ExecutionPolicy Bypass -NonInteractive -File &quot;[INSTALLFOLDER]post_install.ps1&quot; &quot;[INSTALLFOLDER]&quot;" Sequence="execute" Before="PostInstall" />
		<CustomAction Id="PostInstall" Return="ignore" Impersonate="no" Execute="deferred" DllEntry="WixQuietExec" BinaryRef="Wix4UtilCA_X86" />

		<!-- Pre uninstall script -->
		<SetProperty Id="PreUninstall" Value="&quot;powershell.exe&quot; -ExecutionPolicy Bypass -NonInteractive -File &quot;[INSTALLFOLDER]pre_uninstall.ps1&quot;" Sequence="execute" Before="PreUninstall" />
		<CustomAction Id="PreUninstall" Return="ignore" Impersonate="no" Execute="deferred" DllEntry="WixQuietExec" BinaryRef="Wix4UtilCA_X86" />

		<!-- Uninstall Glouton if it was install using the old NSIS installer. -->
		<!-- This is needed because otherwise there will be two Glouton listed in the installed applications. -->
		<!-- The installer is executed asynchronously so we wait 10 seconds to let it finish the uninstallation. -->
		<!-- We use "ping" to wait because the alternative to sleep on windows is "timeout" which opens a command prompt. -->
		<SetProperty Id="UninstallOldInstaller" Value="&quot;cmd.exe&quot; /C &quot;[ProgramFilesFolder]\glouton\Uninstall.exe&quot; /S &amp;&amp; ping -n 10 127.0.0.1 &gt; nul" Sequence="execute" Before="UninstallOldInstaller" />
		<CustomAction Id="UninstallOldInstaller" Return="ignore" Impersonate="no" Execute="deferred" DllEntry="WixQuietExec" BinaryRef="Wix4UtilCA_X86" />

		<!-- _UNINSTALL is only true during uninstallation: https://stackoverflow.com/a/731700 -->
		<SetProperty Id="_UNINSTALL" After="FindRelatedProducts" Value="1" Condition="(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=&quot;ALL&quot;)" />
		
		<InstallExecuteSequence>
			<Custom Action="UninstallOldInstaller" Before="InstallFiles" Condition="NOT WIX_UPGRADE_DETECTED" />

			<Custom Action="PostInstall" After="InstallFiles" Condition="NOT _UNINSTALL" />
			<Custom Action="PreUninstall" After="InstallInitialize" Condition="_UNINSTALL" />
		</InstallExecuteSequence>

		<InstallExecuteSequence>
			<Custom Action="EnableAutoUpdate" After="PostInstall" Condition="ENABLEAUTOUPDATE" />
		</InstallExecuteSequence>

		<!-- List components to install -->
		<Feature Id="DefaultFeature" Title="Glouton" Level="1">
			<ComponentGroupRef Id="Files" />
		</Feature>
	
		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="Glouton" />
		</StandardDirectory>

		<StandardDirectory Id="CommonAppDataFolder">
			<Directory Id="ProgramDataFolder" Name="glouton">
				<Directory Id="ConfigFolder" Name="conf.d" />
				<Directory Id="LogsFolder" Name="logs" />
			</Directory>
		</StandardDirectory>
	</Package>
</Wix>
